<%= content_for :header_content do %>
  <h5>Visitors</h5>
<% end %>

<div class="row">
  <div class="col">
    <div class="card">
      <%= form_with url: visitors_path, method: :get, data: {controller: "search"} do |form| %>
        <input class="form-control" type="text" name="s" value="<%= params[:s] %>" data-target="search.term" data-action="search#search" placeholder='Search by email address or any "extra attribute"'>
      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
      <div class="card">

          <div class="card-body">


              <div class="row">
                  <div class="col">
                    <% unless @visits.empty? %>
                      <div class="table-responsive">
                        <table class="table mb-0">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>First Seen</th>
                                    <th>Last Seen</th>

                                </tr>
                            </thead>
                            <tbody>
                              <% @visits.each do |visit| %>
                                <tr>
                                    <td>
                                      <%= link_to (visit&.visitor_identity&.extra_attributes&.dig('name') ||  visit&.visitor_identity&.email || visit&.visitor_identity&.uid || visit&.visitor_token), visitor_path(visit&.visitor_identity&.id || visit.visitor_token) %>
                                    </td>
                                    <td><%== local_time_ago @visit_all.sort_by(&:created_at).find{|v| v.visitor_token == visit.visitor_token}.created_at %></td>
                                    <td><%== local_time_ago @visit_all.sort_by(&:updated_at).reverse.find{|v| v.visitor_token == visit.visitor_token}.updated_at %></td>

                                </tr>
                              <% end %>
                            </tbody>
                        </table>
                        <div class="float-right mt-4">
                          <%== pagy_bootstrap_nav(@pagy) %>
                        </div>

                      </div>
                    <% end %>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
