<div class="modal micromodal-slide" id="modal-<%= @survey.id %>" aria-hidden="true">
  <div class="<%= @survey.position == "modal" ? "modal__overlay" : "" %>" tabindex="-1" data-micromodal-close>
    <div class="modal__container <%= @survey.position == "modal" ? "" : "widget" %>" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
      <div class="modal_wrapper">
        <header class="modal__header">
          <button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
        </header>
        <%= render(SurveyModal::ContentComponent.new(survey: @survey)) %>
        <footer class="modal__footer">
          <button class="modal__btn modal__btn-primary" id="submit-modal-<%= @survey.id %>" >Submit</button>
          <button class="modal__btn" data-micromodal-close aria-label="Close this dialog window">Close</button>
        </footer>
        <div class="powered">Powered by <a href="https://userveys.com">Userveys</a></div>
      </div>
    </div>
  </div>
</div>
