<!DOCTYPE html>
<html>
  <head>
    <title>Userveys</title>
    <meta name="turbolinks-cache-control" content="no-cache">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body >
    <div class="container" style="margin-top:6rem">
      <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6 col-xl-5">
          <div class="card overflow-hidden">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
    <script>
    window.eagerapp = (window.eagerapp || { queue: [], setup: function(x) { window.eagerapp.queue.push(x); } });
    window.eagerapp.setup({
      "app": "help_widgets",
      "id": "27-ab79a5e1-1e6d-44b6-9823-79d5e467779d",
      "config": {
        "language": {}
      }
    });
    </script>
    <script src="https://cdn-widgets.eagerapp.net/widget/v1/loader.js" async></script>
  </body>
</html>
